body {
    background-image: url("https://images.pexels.com/photos/1295138/pexels-photo-1295138.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-repeat: no-repeat;
    background-size: stretch;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.app-name {
font-family: 'Oleo Script Swash Caps', cursive;
    float: left;
}

.user-name{
    float:right;
}

.header-btn {
    background-color: #333;
    border-width: 1px;
    border-color: white;
    border-radius: 4px;
    color:white;
    padding: 4px;
    margin:4px;
}

.user-controls-div {
    float:right;
}

.topnav {
    padding: 8px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 8px #121212;
}

.container {
    margin-top: 16px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 8px #121212;
}

.category-div {
    font-family: Helvetica;
    width: 200px;
    float: left;
    background-color: rgba(0, 0, 0, 0.5); 
    margin: 16px;
    box-shadow: 2px 2px 8px #121212;
}

.form-div {
    width: 25%;
    height:50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left:0; bottom: 0; right: 0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 8px #121212;
    padding: 24px;
    text-align: center;
    color: white;
}

.username-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 16px;
    margin-top: 16x;
    display: inline-block;
    border: 1px solid#ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.username-input:focus {
    border: 3px solid #0c71e0;
}

.password-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-top: 16px;
    margin-bottom: 16px;
    display: inline-block;
    border: 1px solid#ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.password-input:focus {
    border: 3px solid #0c71e0;
}

.login-submit {
    width: 50%;
    background-color: #0c71e0;
    color: white;
    padding: 14px 20px;
    margin: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sign-up {
    width: 50%;
    background-color: #0c71e0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .oop {
      color: black;
  }



.list-div {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    width: 200px;
    margin: 32px;
    padding: 16px;
    box-shadow: 2px 2px 8px #121212;
}

.list-container {
    overflow: scroll;
    width: 100%;
    overflow-x: scroll;
}


.swim-lane {
    font-family: helvetica;
    font-size: 16px;
    margin: 12px;
    border-radius: 8px;
    width: 260px;
    box-shadow: 2px 2px 8px #121212;
    background-color: rgba(0, 0, 0, 0.5);
    float: left;
}

.swim-lane-header {
    font-family: helvetica;
    padding-left: 8px;
    font-size: 16px;
    font-weight: bold;
    color:white;
    box-shadow: 2px 2px 8px #1E1E1E;
    background: #505050;
    opacity: 0.5;
}


.task-card {
    padding: 16px;
    margin: 8px;
    font-family: helvetica;
    color: white;
    border-style: solid;
    border-width: thin;
    border-radius: 4px;
    box-shadow: 2px 2px 8px #1E1E1E;
    background: #272727;
    opacity: 0.5;
}

.add-task {
    padding: 16px;
    margin: 8px;
    font-family: helvetica;
    color:#4BB2F9;
    border-radius: 4px;
    width: 95.5%;
    box-shadow: 2px 2px 8px #1E1E1E;
    background: #1E1E1E;
    opacity: 0.5;
}

.add-swim-lane {
    padding: 16px;
    margin: 8px;
    font-family: helvetica;
    color:#4BB2F9;
    border-radius: 4px;
    width: 100%;
    box-shadow: 2px 2px 8px #1E1E1E;
    background: #1E1E1E;
    opacity: 0.5;
    float: left;
}

.edit-form-btns {
    margin-top: 16px;
}