body {
    background: #121212;
    color: white;
}

.list-container {
    overflow: scroll;
    width: 100%;
    overflow-x: scroll;
}


.swim-lane {
    font-family: helvetica;
    font-size: 16px;
    margin: 12px;
    border-radius: 8px;
    width: 260px;
    box-shadow: 2px 2px 8px #121212;
    background: #1E1E1E;
    float: left;
}

.swim-lane-header {
    font-family: helvetica;
    font-size: 16px;
    font-weight: bold;
    color:#4BB2F9;
    box-shadow: 2px 2px 8px #1E1E1E;
    background: #505050;
    opacity: 0.5;
}


.task-card {
    padding: 16px;
    margin: 8px;
    font-family: helvetica;
    color: white;
    border-style: solid;
    border-width: thin;
    border-radius: 4px;
    box-shadow: 2px 2px 8px #1E1E1E;
    background: #272727;
    opacity: 0.5;
}

.add-task {
    padding: 16px;
    margin: 8px;
    font-family: helvetica;
    color:#4BB2F9;
    border-radius: 4px;
    width: 95.5%;
    box-shadow: 2px 2px 8px #1E1E1E;
    background: #1E1E1E;
    opacity: 0.5;
}

.add-swim-lane {
    padding: 16px;
    margin: 8px;
    font-family: helvetica;
    color:#4BB2F9;
    border-radius: 4px;
    width: 100%;
    box-shadow: 2px 2px 8px #1E1E1E;
    background: #1E1E1E;
    opacity: 0.5;
    float: left;
}

.edit-form-btns {
    margin-top: 16px;
}